In [20]:
import pandas as pd

In [21]:
CA = pd.read_csv("datosSURESTE3.csv", index_col=0)
JA = pd.read_csv("datosSURESTE2.csv", index_col=0)
AA = pd.read_csv("datosNORESTE2.csv", index_col=0)

In [22]:
f = lambda n, i: [i for _ in range(n)]
CA["zona"] = f(len(CA), "CA")
JA["zona"] = f(len(JA), "JA")
AA["zona"] = f(len(AA), "AA")

In [23]:
datos = pd.concat([CA, JA, AA], axis=0)

In [24]:
datos["CA"] = (datos["zona"] == "CA").astype(int)
datos["JA"] = (datos["zona"] == "JA").astype(int)
datos["AA"] = (datos["zona"] == "AA").astype(int)
datos.head()

,date,deltaDate,NO,NO2,NOX,SO2,TOUT,RH,SR,PM2.5,NOPPM,NO2PPM,NOXPPM,SO2PPM,SO2_discret,zona,CA,JA,AA
0,2020-01-01 00:00:00,0.0,4.3,6.375,10.625,0.850,12.2675,92.75,0.000,18.00,0.0043,0.006375,0.010625,0.000850,bueno,CA,1,0,0
1,2020-01-01 01:00:00,1.0,2.0,5.200,7.200,1.775,11.6800,93.00,0.037,28.00,0.0020,0.005200,0.007200,0.001775,bueno,CA,1,0,0
2,2020-01-01 02:00:00,2.0,2.6,5.000,7.600,0.750,11.6800,93.00,0.037,28.00,0.0026,0.005000,0.007600,0.000750,bueno,CA,1,0,0
3,2020-01-01 03:00:00,3.0,3.1,5.900,8.900,0.725,11.7000,93.00,0.037,11.00,0.0031,0.005900,0.008900,0.000725,bueno,CA,1,0,0
4,2020-01-01 04:00:00,4.0,2.0,4.500,6.500,0.775,11.8000,93.00,0.037,10.25,0.0020,0.004500,0.006500,0.000775,bueno,CA,1,0,0

In [25]:
datos.to_csv("datosConsolidados.csv")