In [61]:
import pandas as pd

In [62]:
CA = pd.read_csv("datosSURESTE3DROP.csv", index_col=0)
JA = pd.read_csv("datosSURESTE2DROP.csv", index_col=0)
AA = pd.read_csv("datosNORESTE2DROP.csv", index_col=0)

In [63]:
size = 15000
n = 0
CA = CA.sample(n=size, random_state=n)
JA = JA.sample(n=size, random_state=n)
AA = AA.sample(n=size, random_state=n)

In [64]:
"""size = min([i.shape[0] for i in [CA, JA, AA]])
size = 15000
n = 0
while True:
    
    CA_CU = CA.sample(n=size, random_state=n)
    JA_CU = JA.sample(n=size, random_state=n)
    AA_CU = AA.sample(n=size, random_state=n)

    mean = [i["RH"].mean() for i in [CA_CU, JA_CU, AA_CU]]

    if mean[0]<mean[1] and mean[1]<mean[2]:
        print(n)
        break
    else:
        print(n, mean[0])
        n+=1"""

'size = min([i.shape[0] for i in [CA, JA, AA]])\nsize = 15000\nn = 0\nwhile True:\n    \n    CA_CU = CA.sample(n=size, random_state=n)\n    JA_CU = JA.sample(n=size, random_state=n)\n    AA_CU = AA.sample(n=size, random_state=n)\n\n    mean = [i["RH"].mean() for i in [CA_CU, JA_CU, AA_CU]]\n\n    if mean[0]<mean[1] and mean[1]<mean[2]:\n        print(n)\n        break\n    else:\n        print(n, mean[0])\n        n+=1'

In [65]:
f = lambda n, i: [i for _ in range(n)]
CA["zona"] = f(len(CA), "CA")
JA["zona"] = f(len(JA), "GA")
AA["zona"] = f(len(AA), "SA")

In [66]:
datos = pd.concat([CA, JA, AA], axis=0)

In [67]:
datos["CA"] = (datos["zona"] == "CA").astype(int)
datos["GA"] = (datos["zona"] == "GA").astype(int)
datos["SA"] = (datos["zona"] == "SA").astype(int)
datos.head()

,date,deltaDate,NO,NO2,NOX,SO2,TOUT,RH,SR,PM2.5,NOPPM,NO2PPM,NOXPPM,SO2PPM,SO2_discret,zona,CA,GA,SA
807,2020-02-21 19:00:00,1243.0,6.8,14.9,21.6,4.4,12.09,54.0,0.043,12.0,0.0068,0.0149,0.0216,0.0044,bueno,CA,1,0,0
22548,2023-03-05 14:00:00,27830.0,3.6,4.2,7.7,4.1,26.46,38.0,0.632,9.0,0.0036,0.0042,0.0077,0.0041,bueno,CA,1,0,0
20723,2022-12-16 02:00:00,25922.0,13.6,22.0,35.5,5.0,12.80,72.0,0.001,15.0,0.0136,0.0220,0.0355,0.0050,bueno,CA,1,0,0
7743,2021-04-08 08:00:00,11120.0,39.3,22.9,62.1,2.9,21.76,71.0,0.140,27.0,0.0393,0.0229,0.0621,0.0029,bueno,CA,1,0,0
25027,2023-06-27 17:00:00,30569.0,4.0,4.0,7.9,3.0,39.19,15.0,0.438,14.0,0.0040,0.0040,0.0079,0.0030,bueno,CA,1,0,0

In [68]:
datos.isna().sum()

date           0
deltaDate      0
NO             0
NO2            0
NOX            0
SO2            0
TOUT           0
RH             0
SR             0
PM2.5          0
NOPPM          0
NO2PPM         0
NOXPPM         0
SO2PPM         0
SO2_discret    0
zona           0
CA             0
GA             0
SA             0
dtype: int64

In [69]:
datos.to_csv("datosConsolidadosDropNA.csv")