In [14]:
import pandas as pd

In [15]:
CA = pd.read_csv("datosSURESTE3DROP.csv", index_col=0)
JA = pd.read_csv("datosSURESTE2DROP.csv", index_col=0)
AA = pd.read_csv("datosNORESTE2DROP.csv", index_col=0)

In [16]:
size = min([i.shape[0] for i in [CA, JA, AA]])
size
CA = CA.sample(n=size, random_state=856)
JA = JA.sample(n=size, random_state=856)
AA = AA.sample(n=size, random_state=856)

[i.shape[0] for i in [CA, JA, AA]]

[17420, 17420, 17420]

In [17]:
f = lambda n, i: [i for _ in range(n)]
CA["zona"] = f(len(CA), "CA")
JA["zona"] = f(len(JA), "GA")
AA["zona"] = f(len(AA), "SA")

In [18]:
datos = pd.concat([CA, JA, AA], axis=0)

In [19]:
datos["CA"] = (datos["zona"] == "CA").astype(int)
datos["GA"] = (datos["zona"] == "GA").astype(int)
datos["SA"] = (datos["zona"] == "SA").astype(int)
datos.head()

,date,deltaDate,NO,NO2,NOX,SO2,TOUT,RH,SR,PM2.5,NOPPM,NO2PPM,NOXPPM,SO2PPM,SO2_discret,zona,CA,GA,SA
7216,2021-02-23 19:00:00,10075.0,7.3,15.7,22.9,11.1,26.34,39.0,0.050,22.0,0.0073,0.0157,0.0229,0.0111,aceptable,CA,1,0,0
2973,2020-07-03 13:00:00,4429.0,3.9,3.3,7.1,3.3,32.40,48.0,0.705,44.0,0.0039,0.0033,0.0071,0.0033,bueno,CA,1,0,0
10970,2021-10-03 16:00:00,15400.0,2.8,1.7,4.4,4.2,30.09,49.0,0.297,5.0,0.0028,0.0017,0.0044,0.0042,bueno,CA,1,0,0
18622,2022-09-08 07:00:00,23551.0,61.4,11.5,72.8,5.3,21.88,85.0,0.024,16.0,0.0614,0.0115,0.0728,0.0053,bueno,CA,1,0,0
11905,2021-11-15 10:00:00,16426.0,9.6,14.4,23.8,4.1,20.57,68.0,0.345,29.0,0.0096,0.0144,0.0238,0.0041,bueno,CA,1,0,0

In [20]:
datos.to_csv("datosConsolidadosDrop.csv")