In [2]:
import pandas as pd
datos = pd.read_csv("limpios.csv", index_col=0)

In [4]:
datos[["NO","NO2", "NOX", "SO2", "TOUT", "RH", "SR"]]

        NO     NO2     NOX     SO2     TOUT     RH     SR
0      4.3   6.375  10.625   0.850  12.2675  92.75  0.000
1      2.0   5.200   7.200   1.775  11.6800  93.00  0.037
2      2.6   5.000   7.600   0.750  11.6800  93.00  0.037
3      3.1   5.900   8.900   0.725  11.7000  93.00  0.037
4      2.0   4.500   6.500   0.775  11.8000  93.00  0.037
...    ...     ...     ...     ...      ...    ...    ...
31785  3.2   6.900   9.900   3.600  38.1800  19.00  0.079
31786  2.6  11.300  13.700   3.600  36.3800  23.00  0.003
31787  2.9  10.800  13.500   3.700  35.1000  26.00  0.001
31788  3.0  10.100  12.800  15.300  33.6000  40.00  0.001
31789  2.8   6.100   8.700  24.500  32.4200  43.00  0.001

[31790 rows x 7 columns]

In [12]:
<

SyntaxError: cannot assign to subscript here. Maybe you meant '==' instead of '='? (3708149896.py, line 1)

SO2
bueno                  25089
aceptable               6676
mala                      22
muy mala                   2
Extremadamente mala        1
Name: count, dtype: int64

In [64]:
datos["NO2"].apply(lambda x: change(x, "NO2")).value_counts()

NO2
bueno                  18466
Extremadamente mala     6302
aceptable               3060
mala                    2299
muy mala                1663
Name: count, dtype: int64